<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LabelPrinter.Properties.Settings.LabelPrinterConnectionString"
            connectionString="Data Source=BS-229;Initial Catalog=LabelPrinter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>