<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarcodeLib" version="1.1.0.0" targetFramework="net35" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net35" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net35" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4420.1017" targetFramework="net35" />
  <package id="MvvmLight" version="5.4.1" targetFramework="net35" />
  <package id="MvvmLightLibs" version="5.4.1" targetFramework="net35" />
  <package id="Spire.Barcode" version="2.8.0" targetFramework="net35" />
</packages>